body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:680px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:120px;
  width:500px;
  height:680px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:681px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:500px;
  height:681px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-10px;
  width:216px;
  height:90px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:176px;
  height:50px;
  font-size:24px;
  color:#FFFFFF;
}
#u266_img.mouseOver {
}
#u266.mouseOver {
}
#u266_img.mouseDown {
}
#u266.mouseDown {
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:172px;
  word-wrap:break-word;
}
