body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:707px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:500px;
  height:707px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-10px;
  width:216px;
  height:90px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:176px;
  height:50px;
  font-size:24px;
  color:#FFFFFF;
}
#u269_img.mouseOver {
}
#u269.mouseOver {
}
#u269_img.mouseDown {
}
#u269.mouseDown {
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:172px;
  word-wrap:break-word;
}
